body {
  background-color: #3CB5E4;
  background-image: url("../images/background.png");
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a, a:visited, a:hover, a:active {
  color: inherit;
}

nav {
  margin: 0;
  background-color: white;
  padding: 0.3em;
  display: fixed;
  color: #3EA0CA;
}

nav a {
  display: inline-block;
  text-decoration: none;
  border: none;
  padding: 15px 10px;
}

nav a:hover, nav input[type="submit"]:hover {
  background-color: #CCC;
}

nav a.btn_user {
  float: right;
}

nav input[type="submit"] {
  background-color: white;
  float: right;
  border: none;
  padding: 15px 10px; //vertically center
  text-decoration: none;
  color: #3EA0CA;
}
/* Lessons */

#lessons_container {
  background-color: white;
  border: 5px solid #E88B3D;
  border-radius: 15px;
  margin: 5% 5% 5% 20%;
  min-height: 400px;
  text-align: center;
}

#lessons_container a {
  text-decoration: none;
}

#nav_lessons {
  border-bottom: 2px solid #CCC;
}

#nav_lessons a {
  display: inline-block;
  margin: 2%;
  text-decoration: none;
  color: #3EA0CA;
}

.lesson_box {
  text-align: left;
  border: 3px solid #3EA0CA;
  border-radius: 9px;
  width: 20%;
  margin: 2%;
  height: 140px;
}

#lesson_header {
  color: white;
  background-color: #3EA0CA;
  border-radius: 2px 2px 0 0;
}

#lesson_header form {
  float: right;
}

.lesson_standard_id {
  display: inline-block;
  vertical-align: bottom;
  font-weight: bolder;
  font-size: .9em;
  padding: 8px;
}

.lesson_title {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.8em;
  margin: 8px;
  color: #777;
}

.lesson_box .lesson_description {
  height: 100%;
  overflow: hidden;
  font-size: 0.8em;
  margin: 8px;
  color: #777;
}

a.lesson_title{
  font-weight: bolder;
  margin: 0;
}

a.lesson_edit {
  float:right;
  font-size: 0.8em;
  text-decoration: none;
  margin: 7px 3px;
}

.lesson_delete {
  width: 18px;
  height: 100%;
  background: url("../images/btnTrash.png") no-repeat 0 7px;
  border: none;
  background-color: transparent;
}

/* New Lesson Form */
#lesson-form {
  width: 40%;
  border: 3px solid #DAA43B;
  border-radius: 12px;
  background-color: white;
  margin: 180px auto auto 45%;
  padding: 0;
}

#lesson-form input, #lesson-form button {
  background-color: transparent;
  display: block;
  padding: 4%;
  line-height: 1em;
  outline: none;
  border: none;
  border-bottom: 2px solid #CCC;
  width: 92%;
  color: #3EA0CA;
  border-radius: 10px 10px 0 0;
}

.drop_down {
    border-radius: 3px;
    border-bottom: 2px solid #CCC;
    padding: 10px 3px;
}

.drop_down select {
    border: none;
    color: #777;
    width: 100%;
    box-shadow: none;
    background: transparent;
}

.drop_down select:focus {
    outline: none;
}

#lesson-form button {
  border: 0;
  border-radius: 6px;
  background-color: #4EBCE6;
  width: 50%;
  color: white;
  margin: 4% 4% 4% auto;
}

#lesson-form button:hover {
  background-color:#3CB5E4;
}


.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}
