@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  min-width: 300px;
  margin: 4% 0;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border: 4px #3EA0CA solid;
  border-radius: 12px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 0.8em;
  color: #3CB5E4;
}

.form .first_name, .form .last_name {
  width: 48%;
}

.form .first_name {
  float: left;
}

.form .last_name {
  float: right;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #3CB5E4;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 0.8em;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.form .register-form {
  display: none;
}

.login-form .container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
