<div class="login-page">
<div class="form">

<form class="register-form" action = "/users" method="post">
  <input class="first_name" type="text" placeholder="first_name" name="user[first_name]" value="<%= @user.try(:first_name) %>"/>
  <input class="last_name" type="text" placeholder="last_name" name="user[last_name]" value="<%= @user.try(:last_name) %>"/>
  <input class="email" type="text" placeholder="email address" name="user[email]" value="<%= @user.try(:email) %>" />
  <input class="password" type="password" placeholder="password (at least 6 characters)" name="user[password]" />
  <input class="confirm_password" type="password" placeholder="cofirm password" name="user[password]" />
  <button>create</button>
</form>

<form class="login-form" action = "/sessions" method="post">
  <input type="text" placeholder="email address" name="user[email]" value="<%= @user.try(:name) %>"/>
  <input type="password" placeholder="password" name="user[password]" />
  <button>login</button>
</form>

</div>
