<!-- Create the user model: be exec rake generate:model NAME=user -->
<!-- Create the users migration table: be rake generate:migration NAME=create_users -->

<div id="container">
  <h1>Lesson Planning made easier</h1>
  <h2>designed for teachers by teachers</h1>

  <div id="nav_registration">
    <div class="flagpole">
      <div class="btn_sign_up"><a href="#" class="signup">SIGN UP</a></div>
      <div class="btn_login"><a href="#" class="login">LOGIN</a></div>
      <div class="btn_tour"><a href = "">TOUR</a></div>
    </div>
  </div>

  <!-- use this partial to add a form where needed -->
  <%= erb :"/users/_registration_form", :layout => false %>

</div>
