<!-- Create the user model: be exec rake generate:model NAME=user -->
<!-- Create the users migration table: be rake generate:migration NAME=create_users -->

<div id="container">
  <h1>Lesson Planning made easier</h1>
  <h2>designed for teachers by teachers</h1>
  <!-- use this partial to add a form where needed -->
  <%= erb :"/users/_registration_form", :layout => false %>
</div>
