<input type="text" class="title" placeholder="Lesson Name" name="lesson[title]" value="<%= @lesson.try(:title) %>"/>
<input type="text" placeholder="Short Description" name="lesson[description]" value="<%= @lesson.try(:description) %>"/>
<div class="drop_down">
  <select>
    <option value="default">Course for this lesson</option>
    <option value="Algebra">Algebra</option>
    <option value="Geometry">Geometery</option>
    <option value="Physics">Physics</option>
  </select>
</div>
