<div class="segue">Algebara I<i class="fa fa-chevron-circle-right" aria-hidden="true"></i></div>
<div class="segue">Pre Algebra<i class="fa fa-chevron-circle-right" aria-hidden="true"></i></div>
<div class="segue">Advanced Math<i class="fa fa-chevron-circle-right" aria-hidden="true"></i></div>
