<%= erb :"_navigation", :layout => false %>

<div id="build_lesson">
  <form id="lesson-form" action = "/lessons" method="post">
  <%= erb :"/lessons/_lesson_form", :layout => false %>
  <button>Start Building</button>
  </form>
</div>
