
<div id="nav_build_lesson">
  <a href="#" class="cancel">cancel</a>
  <div class="title">Course</div>
  <a href="#" class="add">add course</a>
</div>

<a class="segue">Algebara I<i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
<a class="segue">Pre Algebra<i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
<a class="segue">Advanced Math<i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
