<nav id="main-navigation">
  <% if logged_in? %>
    <a class="btn_user" href = "/"><%= current_user.first_name %></a>
    <form id="logout" action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Log Out">
    </form>
  <% else %>
    <a href = "sessions/">Register</a>
    <a href = "sessions/">Login</a>
  <% end %>
  <a class="btn_planQ" href="/"></a>
  <div id="page_title"><%= title %></div>
</nav>
