<nav id="main-naviation">
  <% if session[:user_id] %>
    <% user = User.find(session[:user_id]) %>
    <a class="btn_user" href = "/"><%= user.name %></a>
    <form id="logout" action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Log Out">
    </form>
  <% else %>
    <a href = "sessions/">Register</a>
    <a href = "sessions/">Login</a>
  <% end %>
  <a class="btn_planQ" href="/"></a>
</nav>
